asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.3
django-mathfilters==0.4.0
django-queryset-csv==1.0.3
geoip2==3.0.0
idna==2.8
maxminddb==1.5.2
python-http-client==3.2.1
pytz==2019.3
requests==2.22.0
sendgrid==3.5.0
sendgrid-django==4.2.0
sendgrid-python==0.1.1
sqlparse==0.3.0
unicodecsv==0.14.1
urllib3==1.25.7
