<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
{% extends "authorizer_page.html"%}

{%block content%}

<p> You have successfully launched your leave encashment Application.</p>
<p>We have send an email to the Commissioner for his Authorization.</p>
<p>We will inform you once your leave encashment application has been approved by the Commissioner , and forward your Application
to the financial controller to process the payment!</p>

<br><p>Thankyou!</p>
<i class='fas fa-coffee'></i>
<i class='fas fa-mug-hot' style='font-size:24px'></i>
<i class='fas fa-mug-hot' style='font-size:36px'></i>
<i class='fas fa-mug-hot' style='font-size:48px;color:red'></i>
{%endblock%}
