<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VFSC Leave encashment Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--fontawesome end-->

</head>
<body>
{% load humanize %}
<div class="container">
    <div class="row">
        <div class=" col-md-11">

            {% load  static %}
            <img src="{% static 'images/logo.jpeg' %}" width="200"/>
        </div>

        <div class="col-md-1"><a href="javascript:window.print()"> <span class="pull-right"><i class="fas fa-print"> Print</i> </span></a></div>
    </div>

</div>

<br>

<div class="container">
    <div class="row" >

        {% for sick in report%}

        <div class="col-md-4">Name: <font color="green">{{sick.user.first_name}} {{sick.user.last_name}}</font></div>
        <div class="col-md-4">Department: <font color="green">{{sick.department}} </font></div>
         <div class="col-md-3"><span class="pull-right">Date:<font color="blue">{% now "jS F Y" %}</font></span></div>




        {%endfor%}
    </div>

        <br>
       <br>
       {% for sick in report%}
  <table class="table">
  <thead>
    <tr>

      <th scope="col">Launch Date</th>
      <th scope="col">Total number of working days paid</th>
        <th scope="col">Paid Amount</th>
        <th scope="col"> Processed Date</th>

    </tr>
  </thead>
  <tbody>
    <tr>

      <td>{{sick.Todays_date}}</td>
      <td>{{sick.total_number_of_days}}</td>
      <td>$ {{sick.paid_amount|intcomma}}</td>
        <td>{{sick.payment_date}}</td>

    </tr>

  </tbody>
</table>

    {%endfor%}



</div>

<br><br><br>


{%for sick in report%}
<div class="container ">
                      <div class="row">
                      <div class="col-md-3">Status: </div>
                        <div class="col-md-3"><font color="green">{{sick.approval_status}} </font> </div>


                      </div>
            </div>
{%endfor%}


<div class="container ">
                      <div class="row">
                          <div class="col-md-3">Authorized By Director:</div>

                          {%for sick in report%}
                           <div class="col-md-3">{{sick.Authorize_by}}</div>

                      </div>
                     <div class="row">
                         <div class="col-md-3">Authorized Date:</div>
                          <div class="col-md-3">{{sick.Authorized_Date}}</div>
                            {%endfor%}
                     </div>
            </div>



</body>


</html>