<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Controller</title>
    <!--fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!--fontawesome end-->

</head>
<body>
{% extends "authorizer_page.html"%}

{%block content%}
{% load humanize %}

<h3 class="card-title"><i class="fas fa-tasks"></i> Leave Encashments & Medical Entitlements</h3>


                <div class="row">

                      <div class="col-sm-4">
                          <span class="pull-left"> <a data-toggle="collapse" href="#leave_encashment" role="button" aria-expanded="false" aria-controls="collapseExample">
                         <i class="fas fa-file-invoice"></i> Approved Encashments | inbox({{all_approved_encashments}})</a></span>
                      </div>

                    <div class="col-sm-4">
                          <span class="pull-left"> <a data-toggle="collapse" href="#medical_scheme" role="button" aria-expanded="false" aria-controls="collapseExample">
                         <i class="fas fa-first-aid"></i> Medical Scheme | inbox({{count_medical_details}})</a></span>
                      </div>




                     <!-- card start-->
                <div class="collapse" id="leave_encashment">
                     <div class="card card-body" style="width: 107rem;">
                            <div class="card text-center" style="width: 105rem;">
                                    <div class="card-header" >
                                    <ul class="nav nav-pills card-header-pills">
                                       <li class="nav-item">
                                        <a class="nav-link " href="{%url 'all_encashments'%}"> Financial Controller | <font color="red">Pending Payment inbox({{all_approved_encashments}}) </font></a></a>
                                        </li>
                                       <li class="nav-item">
                                          <a class="nav-link" href="{% url 'all_processed_encashments'%}">Finish Processed | <font color='green'>inbox({{all_process}})</font></a>
                                        </li>

                                        </ul>
                                     </div>
                            </div>

                        </div>
                    </div>



                        <!-- card start-->
                <div class="collapse" id="medical_scheme">
                     <div class="card card-body" style="width: 107rem;">
                            <div class="card text-center" style="width: 105rem;">
                                    <div class="card-header" >
                                    <ul class="nav nav-pills card-header-pills">
                                       <li class="nav-item">
                                        <a class="nav-link " href="#"> Medical Details | <font color="red">Pending Process inbox({{count_medical_details}}) </font></a></a>
                                        </li>
                                       <li class="nav-item">
                                          <a class="nav-link" href="#">Finish Processed | <font color='green'>inbox({{count_process_medicals}})</font></a>
                                        </li>

                                        </ul>
                                     </div>
                            </div>

                        </div>
                    </div>



                </div>



{%endblock%}
</body>
</html>