<!DOCTYPE html>
<html lang="en">
<head>
  <title>6/7TP eLeave system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<div class="container">

  <div class="card bg-danger text-white">
      <div class="card-body">
          <p>You are trying to access your profile, but we notice that you do not have existing balances.</p>
          <p>Please check with the System Administrator or Hr to ensure that you have current balance,
          monthly entitlement or sick leave balance data enter on the system.</p>

      </div>
  </div>

</div>

</body>
</html>
