<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
{% extends "hr_page.html"%}

{%block content%}

<p> You have Successfully added new leave entitlement.</p>
<i class='fas fa-mug-hot'></i>
<i class='fas fa-mug-hot' style='font-size:24px'></i>
<i class='fas fa-mug-hot' style='font-size:36px'></i>
<i class='fas fa-mug-hot' style='font-size:48px;color:red'></i>
{%endblock%}
