<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

  <!-- choose one -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--fontawesome end-->

    <title>VFSC Sick Leave Report</title>






</head>
<body>
<!-- setup view report start-->
<br>
<div class="container">
    <div class="row">
        <div class=" col-md-11">

            {% load  static %}
            <img src="{% static 'images/vfsc.jpeg' %}" />
        </div>

        <div class="col-md-1"><a href="javascript:window.print()"> <span class="pull-right"><i class="fas fa-print"> Print</i> </span></a></div>
    </div>

</div>
<br>
<div class="container">
    <table class="table ">
    <thead class="table-success">

      <tr>

        <th>First Name</th>
        <th>Last Name</th>
        <th>Leave Type</th>
        <th>Department</th>
        <th>Date Illness Start</th>
        <th>Date Illness End</th>
        <th>Total work days</th>
        <th>Reason</th>
          <th>Manger Authorization Status</th>
          <th>Authorized By Manager</th>
          <th>Director Authorization Status</th>
          <th>Authorized By Director</th>

      </tr>
    </thead>
    {%for leave in sick_leave_rpt%}

    <tbody>
      <tr class="table-active">

        <td>{{leave.user.first_name}}</td>
        <td>{{leave.user.last_name}}</td>
        <td>{{leave.Leave_type}}</td>
        <td>{{leave.department}}</td>
        <td>{{leave.Date_illness_began}}</td>
        <td>{{leave.Date_illness_end}}</td>
        <td>{{leave.Total_working_days}}</td>
        <td>{{leave.Brief_explanation_of_illness}}</td>
          <td>{{leave.Manager_Authorization_Status}}</td>
          <td>{{leave.Authorized_by_Manager}}</td>
          <td>{{leave.Director_Authorization_Status}}</td>
         <td>{{leave.Authorized_by_Director}}</td>



    </tbody>
    {%endfor%}

  </table>

</div>
    <!-- view report end-->


</body>
</html>