<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

 <!--set up excel-->
    <script>
       function exportTableToExcel(annual_leave, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(annual_leave);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

    // Specify file name
    filename = filename?filename+'.xls':'annual_leave_balance.xls';

    // Create download link element
    downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);

    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

        // Setting the file name
        downloadLink.download = filename;

        //triggering the function
        downloadLink.click();
    }
}
    </script>

<!-- End file set up excel_file-->



  <!-- jquery printer setup -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- test setup printer-->


    <script>
$(function () {
    $('button[type="submit"]').click(function () {
        var pageTitle = 'Staff Annual Leave Balance',
            stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
            win = window.open('', 'Print', 'width=500,height=300');
        win.document.write('<html><head><title>' + pageTitle + '</title>' +
            '<link rel="stylesheet" href="' + stylesheet + '">' +
            '</head><body>' + $('#annual_leave')[0].outerHTML + '</body></html>');

        win.document.close();
        win.print();
        win.close();
        return false;
    });
});


    </script>
    <!-- end test setup printer-->



</head>
{% extends "authorizer_page.html"%}

{%block content%}

<div class="container">
  <div class="container">
    <div class="row">

        <div class="col-md-6"></div>

        <div class="col-md-5">
            <span class="pull-right"> <a href="#"  onclick="exportTableToExcel('annual_leave')">  | <i style="font-size:20px" class="fa">&#xf1c3; </i>  Excel File </a> </span>
            <span class="pull-right"><button class="btn btn-sm pull-right btn-default" type="submit"><i class="fas fa-print"> Print</i> </button></span>

        </div>
    </div>
  <h2>Reserve Bank Staff Annual Leave Balance</h2>
  <p>List of all staff current balance.</p>
  <table class="table" id="annual_leave">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>Entitlement</th>
        <th>Current Balance</th>
      </tr>
    </thead>
    {%for leave in balance%}

    <tbody>
      <tr class="success">
        <td>{{leave.user.first_name}}</td>
        <td>{{leave.user.last_name}}</td>
        <td>{{leave.user.profile.department}}</td>
        <td>{{leave.user.monthly_entitlement.entitlement}}</td>
        <td>{{leave.user.leave_balance.Leave_current_balance|floatformat:2}}</td>
    </tbody>
    {%endfor%}

  </table>
</div>

{%endblock%}